language: csharp
solution: src/Logy.Exchange.sln
install:
  - nuget restore src/Logy.Exchange.sln
  - nuget install NUnit.Runners -Version 2.6.4 -OutputDirectory testrunner
script:
  - xbuild /p:Configuration=Debug src/Logy.Exchange.sln
  - travis_wait 50 mono ./testrunner/NUnit.Runners.2.6.4/tools/nunit-console.exe ./src/Logy.ImportExport/bin/Debug/Logy.ImportExport.exe
