<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AppConfiguration" version="2.6.0.7" targetFramework="net40" />
  <package id="DevExpress.Xpo" version="14.2.7.0" targetFramework="net40" />
  <package id="Logy.Entities" version="1.0.0.19" targetFramework="net40" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net40" />
  <package id="NLog" version="4.3.4" targetFramework="net40" />
  <package id="NUnit" version="2.6.4" targetFramework="net40" />
  <package id="Skills.Xpo" version="1.0.0.11" targetFramework="net40" />
  <package id="StyleCop.MSBuild" version="4.7.54.0" targetFramework="net40" developmentDependency="true" />
</packages>