<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AppConfiguration" version="2.6.0.11" targetFramework="net46" />
  <package id="MathNet.Numerics" version="3.20.2" targetstepwork="net40" targetFramework="net40" />
  <package id="MathNet.Spatial" version="0.4.0" targetstepwork="net40" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="NUnit" version="2.6.4" targetstepwork="net40" targetFramework="net46" />
  <package id="StyleCop.MSBuild" version="4.7.54.0" targetstepwork="net40" developmentDependency="true" />
  <package id="TopoJSON.Net" version="0.0.0.7" targetFramework="net46" />
</packages>