<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.dotMemoryUnit" version="3.0.20171219.105559" targetFramework="net46" />
  <package id="MathNet.Numerics" version="3.20.2" targetstepwork="net40" targetFramework="net40" />
  <package id="MathNet.Spatial" version="0.4.0" targetstepwork="net40" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net40" requireReinstallation="true" />
  <package id="NUnit" version="2.6.4" targetstepwork="net40" />
  <package id="StyleCop.MSBuild" version="4.7.54.0" targetstepwork="net40" developmentDependency="true" />
</packages>